.container1 {
<<<<<<< HEAD
    color: rgb(255, 168, 168);
}

=======
    background-color: rgb(255, 168, 168);
    height: 500px;
    width: 100%;
}

.box1 {
    background-color: red;
    height: 200px;
    width: 33%;
}

.box2 {
    background-color: red;
    height: 200px;
    width: 33%;
}

.box3 {
    background-color: red;
    height: 200px;
    width: 33%;
}
>>>>>>> e16e92a066445dec8f451ba863df5533235ce986
